<!doctype html>
<html ng-app="basic" class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Day 29</title>
<!--     <link rel="stylesheet" href="styles/reset.css">
 -->   
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="/bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div ng-controller="BasicCtrl" class="hero-unit">
      <div class="header">
        <div  class="header-wrapper">
          <h2 class="page-name">States List</h2>
          <input type="text" class="filter-box" ng-model="filterBox" placeholder="Filter">
        </div>
      </div>

      <table>
                <tr class="header-row">
                    <th ng-click="titleClick()" class="col1">
                    Title
                    <div class="arrow-wrapper">
                      <div ng-show="stateArrow" class="ion-arrow-down-b"></div>
                      <div ng-hide="stateArrow" class="ion-arrow-up-b"></div>
                    </div>
                    </th>
                    <th ng-click="abbClick()" class="col2">
                    Abbreviations
                    <div class="arrow-wrapper">
                      <div ng-show="abbArrow" class="ion-arrow-down-b"></div>
                      <div ng-hide="abbArrow" class="ion-arrow-up-b"></div>
                    </div>
                    </th>
                    <th class="col3">Wikipedia Link</th>
                </tr>
                <tr class="rows" ng-repeat="objects in newArray">
                    <td class="col1">{{ objects.name }}</td>
                    <td class="col2">{{ objects.abbreviation }}</td>
                    <td class="col3">
                      <a ng-href="http://en.wikipedia.org/wiki/{{ objects.name }}">Link</a>
                    </td>
                </tr>
      </table>

    </div>

    <!-- bower installs -->

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/lodash/lodash.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>

    <!-- links to scripts -->

    <script type="text/javascript" src="scripts/services/services.js"></script>
    <script type="text/javascript" src="scripts/controllers/controllers.js"></script>
    <script type="text/javascript" src="scripts/my-app/app.js"></script>
</body>
</html>
